<form class="new-comedian" action="/comedians" method="post">
  <input type="text" name="comedian[name]" placeholder="name">
  <input type="text" name="comedian[age]" placeholder="age">
  <input type="text" name="comedian[city]" placeholder="city">
  <input type="submit" value="create">
</form>
