body {
   background-image: url("https://images.unsplash.com/photo-1508778552286-12d4c6007799?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b252d2788419e72d5671fbe43a6ff5f7&auto=format&fit=crop&w=800&q=60");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.specials img {
  width: 15%;
  height: auto;
}

.comedians{
  color: white;
}
