head {
  color: white;
}

body {
   background-image: url("https://images.unsplash.com/photo-1508778552286-12d4c6007799?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b252d2788419e72d5671fbe43a6ff5f7&auto=format&fit=crop&w=800&q=60");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

.comedian_stats{
  color: white;
}

.specials img {
  width: 15%;
  height: auto;
}

.comedians{
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 1;
}

.statstics_overview{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.total_specials{
  color: white;
}

#statistics{
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: white;
}

.total_statistics{
  color: white;
}



/* .grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: #242929;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
